html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, body, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ul {list-style: none;}
ol {list-style-position: inside;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
h1, h2, h3, h4, h5 {text-align: center; font-weight: bold; margin: 10px 0;}
html {height: 100%;}
a {text-decoration: none !important; color: #000;}
textarea {resize: none;}
* {outline: none;}
input.orange, textarea.orange {
    border: 1px solid #D1D1D1;
    font: 113% "Panton";
    height: 66px;
    line-height: 66px;
    color: #a3a3a3;
    margin: 20px auto;
    display: block;
    width: 70%;
    padding: 0 5%;
    box-sizing: border-box;
    transition: box-shadow .1s linear;
    -webkit-transition: box-shadow .1s linear;
    -moz-transition: box-shadow .1s linear;
    -ms-transition: box-shadow .1s linear;
    -o-transition: box-shadow .1s linear;
}
input.orange:focus, textarea.orange:focus {
    border: 1px solid #F3C344;
    box-shadow: 0 0 5px 3px #F3C344;
}
a, button {
    transition: background .1s linear, color .1s linear;
    -webkit-transition: background .1s linear, color .1s linear;
    -moz-transition: background .1s linear, color .1s linear;
    -ms-transition: background .1s linear, color .1s linear;
    -o-transition: background .1s linear, color .1s linear;
}
.clear {clear: both;}
.hidden {display: none;}

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: OpenSansLight;
    src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url("../fonts/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Panton";
    src: url('../fonts/Panton-Regular.otf');
}
@font-face {
    font-family: "PantonBold";
    src: url('../fonts/Panton-Bold.otf');
}

@font-face {
    font-family: 'SegoeUIRegular';
    src: url("../fonts/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIRegular.woff") format("woff"),
    url("../fonts/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'SegoeUIItalic';
    src: url("../fonts/SegoeUIItalic.eot");
    src: url("../fonts/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIItalic.woff") format("woff"),
    url("../fonts/SegoeUIItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'SegoeUILight';
    src: url("../fonts/SegoeUILight.eot");
    src: url("../fonts/SegoeUILight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUILight.woff") format("woff"),
    url("../fonts/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?35722794');
  src: url('../fonts/fontello.eot?35722794#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?35722794') format('woff'),
       url('../fonts/fontello.ttf?35722794') format('truetype'),
       url('../fonts/fontello.svg?35722794#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:after, [class*=" icon-"]:after,
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-login-1:after { content: '\e800'; margin-left: 20px;}
.icon-user:before { content: '\e801'; margin-right: 8px;}
.icon-login:before { content: '\e802'; }
.icon-key:before { content: '\e803'; margin-right: 8px;}
.icon-paper-plane:before { content: '\e804'; color: #A4C564; position: absolute; top: 35%; left: 40px;}
.icon-menu:before { content: '\e805'; }
/*--table-frame--*/
.table {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #D5EBF5;
}
.table-caption .cell {
    background: #D5EBF5 !important;
    font-weight: bold !important;
    padding: 8px !important;
}
.row {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.cell {
    display: table-cell;
    vertical-align: top;
    padding: 5px;
    background: #F4F5F6;
    border: 1px solid #D5EBF5;
    box-sizing: border-box;
}
.btn-effects:hover {
    background: #e4b539 !important;
    border-radius: 10px;
}
.btn-effects:active {
    box-shadow: 0 5px 10px 3px #ccc;
}

body {
    height: 100%;
    width: 100%;
/*    background: #eee;*/
    background: #eee;
    font: 100% Panton, Arial, sans-serif;
    color: #666;
    line-height: 1;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
/*    outline: 1px solid red;*/
}
/*--header--*/
.header {
    min-width: 960px;
    background: #fff;
    height: 90px;
    background: #fff;
}
.header .container {
    position: relative;
    z-index: 200;
    margin-bottom: -1px;
}
.header .container:after {
    content: '';
    display: block;
    clear: both;
}
.header .logo {
/*    width: 360px;*/
/*    height: 176px;*/
    width: 28.24%;
    min-height: 90px;
    height: auto;
    float: left;
    position: relative;
    margin: 0 0 -86px 30px;
}
.header .logo img {
    position: absolute;
    top: 0;
    width: 100%;
}
.header .nav {
    float: left;
    margin-left: 32px;
    margin-bottom: -1px;
}
.header .nav > li {
    float: left;
    position: relative;
}
.header .nav > li > a {
    display: block;
    height: 91px;
    box-sizing: border-box;
    padding: 36px 20px;
    text-transform: uppercase;
    color: #797979;
    border-bottom: 4px solid #D2D2D2;
    font: 88% 'SegoeUIRegular';
}
.header .nav li ul {
    position: absolute;
    background: #fff;
    border-bottom: 10px solid #A4C564;
    padding: 14px 0;
    z-index: 500;
    display: none;
    left: -100%;
    width: 400%;
}
.header .nav li:hover ul {
    display: block;
}
.header .nav li ul li {
    padding: 0 14px;
}
.header .nav li ul li a {
    display: block;
    border-bottom: none;
    padding: 20px 13px;
    color: #535353;
}
.header .nav li ul li a:hover {
    border: none;
    background: #F6F6F6;
}
.nav li.active a,
.header .nav li a:hover {
    border-bottom: 4px solid #A4C564;
}
.header .auth-block {
    float: left;
    margin-left: 65px;
}
.header .auth-block li {
    float: left;
}
.header .auth-block li + li {
    margin-left: 25px;
}
.header .auth-block a {
    display: block;
    padding: 32px 0 7px;
    border-bottom: 3px solid transparent;
    color: #797979;
    text-transform: uppercase;
    font: 81.25% 'SegoeUIRegular';
}
.header .auth-block a:hover {
    border-bottom: 3px solid #797979;
}
.header .menu-box {
    float: right;
    margin-right: 10px;
    text-align: center;
    font-size: 40px;
    line-height: 85px;
    color: #fff;
    width: 105px;
    height: 90px;
    background: #A4C564;
    cursor: pointer;
    position: relative;
}
.header .menu {
    display: none;
    text-align: left;
    line-height: 1;
    background: #A4C564;
    width: 350%;
    position: absolute;
    right: -150%;
    right: 0;
    padding: 85px 38px;
    top: 0;
    cursor: default;
    border: 1px solid #fff;
}
.header .menu:after {
    content: '';
    display: block;
    clear: both;
}
.header .menu ul {
    width: 80%;
    float: left;
}
.header .menu .close {
    background: #849f51;
    width: 20%;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-top: 20%;
    cursor: pointer;
}
.header .menu ul li a {
    display: inline-block;
    color: #fff;
    font: 60% "Panton";
    padding-bottom: 6px;
    border-bottom: 6px solid transparent;
}
.header .menu ul li a:hover {
    border-bottom: 6px solid #fff;
}
/*--slider-wrap--*/
.slider-wrap {
    position: relative;
}
.slider-wrap .container {
    position: absolute;
    top: 0;
}
.subscription {
    width: 454px;
    padding: 35px 55px 82px;
    box-sizing: border-box;
    position: absolute;
    top: 10%;
    right: 10%;
    border: 1px solid #fff;
    background: #A4C564;
    z-index: 100;
    text-align: center;
}
.subscription label {
    display: block;
    font: 300% "SegoeUILight";
    line-height: 1;
    color: #fff;
}
.subscription label span {
    display: block;
    font: 50% "SegoeUIItalic";
}
.subscription input {
    display: block;
    width: 94%;
    margin: 0 3%;
    position: relative;
    padding: 15px 20px 15px 91px;
    border: 1px solid #CECECE;
    color: #959595;
    box-sizing: border-box;
    font: 113% "SegoeUIRegular";
    background: #fff url(../img/subscription.png) 0 0 no-repeat;
    transition: all .2s linear;
}
.subscription input:focus {
    margin: 0;
    padding-left: 80px;
    width: 100%;
}
input#subscription-name {
    margin-bottom:-1px;
    background-position: 40px 20px;
}
input#subscription-email {
    background-position: 40px -36px;
}
.subscription button {
    position: relative;
    width: 100%;
    height: 59px;
    margin-top: 50px;
    font: 112.5% "SegoeUIRegular";
    color: #959595;
    border: 0;
    background: #fff;
    border-bottom: 5px solid #ECECEC;
    transition: border .1s linear;
    -webkit-transition: border .1s linear;
    -moz-transition: border .1s linear;
    -ms-transition: border .1s linear;
    -o-transition: border .1s linear;
}
.subscription button:hover {
    border-bottom: 5px solid #d9d9d9;
}
.subscription button:active {
    box-shadow: 0 0 4px 1px #eee;
}
/*--slider-bottom--*/
.slider-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 208px;
    box-sizing: border-box;
    text-align: center;
    background: rgba(255,255,255,.3);
    z-index: 10;
    padding-top: 19px;
}
.slider-bottom li {
    display: inline-block;
    margin: 0 3.1%;
    width: 152px;
    height: 170px;
}
.slider-bottom a {
    display: block;
    width: 152px;
    height: 170px;
    padding-top: 60px;
    box-sizing: border-box;
    color: #fff;
    text-transform: uppercase;
    font-family: "SegoeUIRegular";
    vertical-align: middle;
    background: url(../img/slider-bottom-sprite.png) center center no-repeat;
    font-size: 150%;
    transition: transform .1s linear;
    -webkit-transition: transform .1s linear;
    -moz-transition: transform .1s linear;
    -ms-transition: transform .1s linear;
    -o-transition: transform .1s linear;
}
.slider-bottom a:hover {
    transform: scale(1.1);
}
.slider-bottom a span {
    display: block;
    margin-top: 8px;
    font-size: 75%;
}
.slider-bottom .slider-bottom1 {background-position: 0 0;}
.slider-bottom .slider-bottom2 {background-position: -152px 0;}
.slider-bottom .slider-bottom3 {background-position: -304px 0;}
.slider-bottom .slider-bottom4 {background-position: -456px 0;}
/*--webinars-and-services-box--*/
.webinars-and-services-box {
    padding: 75px 0 145px 0;
    background: #fff;
}
.webinars-and-services-box h3 {
    padding-bottom: 65px;
    border-bottom: 1px solid #DBDBDB;
    margin: 0 60px;
    font: 300% "PantonBold";
}
.webinars-wrap {
    padding-top: 40px;
    text-align: center;
}
.webinars-wrap:after {
    content: '';
    display: block;
    clear: both;
}
.webinar-item {
    padding: 1%;
    width: 356px;
    display: inline-block;
    margin: 20px 1%;
    text-align: center;
    border-radius: 10px;
    transition: box-shadow .2s linear;
    -webkit-transition: box-shadow .2s linear;
    -moz-transition: box-shadow .2s linear;
    -ms-transition: box-shadow .2s linear;
    -o-transition: box-shadow .2s linear;
}
.webinar-item:hover {
    box-shadow: 0 0 20px 1px rgba(0,0,0,.2);
}
.webinar-item h4 {
    font: 194% "SegoeUIRegular";
    color: #959595;
    height: 65px;
    overflow: hidden;
    line-height: 1;
}
.webinar-item .dscr {
    color: #a3a3a3;
    height: 56px;
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 112.5%;
}
.webinar-item .webinar-video {
    box-shadow: 0 0 20px 1px rgba(0,0,0,.2);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    width: 356px;
    height: 294px;
}
.webinar-video .play-button {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: rgba(255,255,255,.3) url(../img/play-btn.png) center center no-repeat;
    cursor: pointer;
    transition: background .2s linear, background-color .4s linear;
}
.webinar-video .play-button:hover {
    background: transparent url(../img/play-btn-hover.png) center center no-repeat;
}
/*--vegetables-info-box--*/
.vegetables-info-box {
    background: url(../img/vegetables-bg.jpg) 0 0 no-repeat;
    background-size: cover;
    padding: 60px 20px 160px;
}
.vegetables-info {
    width: 73.4%;
    min-width: 740px;
    margin: auto;
}
.vegetables-info:after {
    content: '';
    display: block;
    clear: both;
}
.vegetables-search {
    width: 290px;
    float: left;
}
.vegetables-search input {
    width: 100%;
    height: 56px;
    line-height: 56px;
    box-sizing: border-box;
    font: 113% "OpenSans";
    color: #717171;
    padding: 0 70px 0 30px;
    border: 1px solid #CFB980;
    float: left;
}
.vegetables-search button {
    float: right;
    margin: -56px 0 27px;
    width: 56px;
    height: 56px;
    border: 1px solid #CFB980;
    border-left: none;
    background: #fff url(../img/search.png) center center no-repeat;
}
.vegetables-search button:hover {
    border: 1px solid #CFB980;
    background: #eee url(../img/search.png) center center no-repeat;
}
.vegetables-search .img-wrap {
    clear: both;
    width: 246px;
    height: 246px;
    box-shadow: 0 0 0 1px #CFB980;
    border: 22px solid #fff;
    background: #fff;
    position: relative;
}
.vegetables-search .img-wrap img {
    width: 100%;
}
.vegetables-search .img-wrap .img-dscr {
    position: absolute;
    top: 170px;
    left: 0; right: 0;
    color: #fff;
    font: 187% "OpenSans";
    text-align: center;
}
.vegetables-search .img-wrap .img-dscr .TextContainer {
    display: inline-block;
    padding: 0 35px;
    padding: 0 10px;
    background: #9EC04B;
    height: 50px;
    line-height: 50px !important;
    overflow: hidden;
}
.vegetables-properties {
    float: right;
    width: 100%;
    margin-left: -315px;
    padding-left: 315px;
    box-sizing: border-box;
}
.vegetables-properties-inner {
    box-shadow: 0 0 30px 4px rgba(0,0,0,.3);
}
.vegetables-properties .capture {
    padding: 16px 30px 14px 70px;
    color: #5f5f5f;
    font: 150% "OpenSans";
    box-sizing: border-box;
    background: #F3C344 url(../img/scale.png) 25px center no-repeat;
}
.vegetables-properties .capture sup {
    font-size: 60%;
}
.vegetables-properties .capture span {
    font-family: "OpenSansBold";
}
.vegetables-properties table {
    width: 100%;
    color: #717171;
    font: 113% "OpenSans";
    background: #EBEBEB;
}
.vegetables-properties table tr:nth-child(2n) {
    background: #fff;
}
.vegetables-properties table td {
    padding: 14px 47px 14px;
    box-sizing: border-box;
    width: 70%;
    vertical-align: middle;
}
.vegetables-properties table td + td {
    width: 30%;
}
/*--recipes-box--*/
.recipes-box {
    border-bottom: 16px solid #fff;
    box-shadow: 0 8px 12px #aaa;
}
.recipes-box .recipe-block {
/*    width: 790px;*/
    width: 61.72%;
/*    padding: 28px 28px 28px 38px;*/
    padding: 2.1% 2.1% 2.1% 2.96%;
    box-sizing: border-box;
    color: #fff;
}
.recipes-box .recipe-block:after {
    content: '';
    display: block;
    clear: both;
}
.recipes-box .recipe-block .img-wrap {
    width: 121px;
    height: 121px;
    float: left;
    box-shadow: 0 0 25px 4px rgba(0,0,0,.4);
}
.recipes-box .recipe-block .recipe-text {
    float: right;
    width: 100%;
    margin-right: -151px;
    padding-right: 151px;
    box-sizing: border-box;
}
.recipes-box .recipe-block .caption {
    font: 150% "PantonBold";
    padding-bottom: 25px;
    float: left;
    width: 100%;
}
.recipes-box .recipe-block .caption:after {
    content: '';
    display: block;
    clear: both;
}
.recipes-box .recipe-block .caption .caption-inner {
    margin-right: 160px;
    float: left;
    height: 30px;
    overflow: hidden;
}
.recipes-box .recipe-block .caption a {
    float: right;
    font-size: 50%;
    text-transform: uppercase;
    font-family: Arial;
    color: #fff;
    padding: 12px 20px 12px 40px;
    background: #7E7E7E;
    border-radius: 6px;
    margin-left: -100%;
    transition: background .2s linear;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -ms-transition: background .1s linear;
    -o-transition: background .1s linear;
}
.recipes-box .recipe-block .caption a:hover {
    background: #6b6b6b;
}
.recipes-box .recipe-block .recipe {
    font: 88% Arial;
    line-height: 1.5;
    height: 67px;
    width: 100%;
    overflow: hidden;
}
.recipes-box .container {
    position: relative;
}
.recipes-box .container:hover div.hidden {
    display: block;
}

.recipes-box .recipe-video-wrap {
    position: absolute;
    background: #CECECE;
    height: 300%;
    width: 38.28%;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 5;
}
.recipes-box .video-name {
    font: 225% "PantonBold";
    padding: 60px 5px 25px;
    text-transform: uppercase;
}
.recipes-box .recipe-video-wrap a {
    display: block;
    width: 80.7%;
    margin: auto;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.recipes-box .recipe-video-wrap a:hover .play-button {
    background: transparent url(../img/video-lesson-btn.png) center center no-repeat;
}
.recipes-box span.video-img-wrap {
/*    width: 378px;*/
/*    width: 96%;*/
    max-height: 235px;
    display: block;
    border-radius: 10px;
    border: 8px solid #fff;
    border-radius: 15px;
    overflow: hidden;
}
.recipes-box span.video-img-wrap img {
    background-position: center center;
}
.recipes-box .play-button {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: rgba(255,255,255,.3) url(../img/video-lesson-btn.png) center center no-repeat;
    transition: background .1s linear;

}
.recipes-box .video-dscr {
    font-size: 162.5%;
    padding-top: 27px;
}

.recipes-box .recipe-1 {
    background: url(../img/recipes-1.jpg) center center no-repeat;
    background-size: cover;
}
.recipes-box .recipe-2 {
    background: url(../img/recipes-2.jpg) center center no-repeat;
    background-size: cover;
}
.recipes-box .recipe-3 {
    background: url(../img/recipes-3.jpg) center center no-repeat;
    background-size: cover;
}
.recipes-box .recipe-2 .recipe-video-wrap {top: -100%;}
.recipes-box .recipe-3 .recipe-video-wrap {top: -200%;}
/*--aerostats-box--*/
.aerostats-box {
    background: url(../img/aerostats.jpg) 0 0 no-repeat;
    background-size: cover;
    padding: 12px 0 20%;
    padding: 0 0 20%;
}
.caption-wrap {
    display: inline-block;
    margin-left: 14.85%;
    margin-top: -35px;
    text-align: center;
}
.caption-wrap .caption-top {
    border: 22px solid #fff;
    border-bottom: none;
    height: 12px;
    border-radius: 80px 80px 0 0;
    background: #6CA9E0;
    margin-right: -22px;
}
.caption-wrap .caption {
    display: inline-block;
    padding: 55px 115px 70px;
    font-size: 300%;
    color: #fff;
    background: #6CA9E0;
    border-radius: 0 0 10px 10px;
    text-transform: uppercase;
    margin: -1px 0 0 22px;
}
.aerostats-box .caption span {
    display: block;
    font-family: "PantonBold";
}
.aerostats-box .article {
    width: 76.25%;
    margin: 63px auto 0;
    border-radius: 10px;
    background: rgba(108,169,224, .9);
    color: #fff;
    padding: 30px 3.6% 60px;
    font-size: 113%;
    line-height: 1.2;
}
.aerostats-box .article a {
    text-decoration: underline !important;
    color: #3535dc;
    transition: all 0s linear;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -ms-transition: all 0s linear;
    -o-transition: all 0s linear;
}
.aerostats-box .article a:hover {
    color: #000;
}
.aerostats-box .article h3 {
    text-align: left;
    font-size: 300%;
    padding-left: 45px;
    position: relative;
}
.aerostats-box .article h3:before {
    content: '•';
    position: absolute;
    font-size: 210%;
    top: -3px;
    left: -5px;
    line-height: .5;
}
.aerostats-box .article p {
    margin: 20px 0;
}
/*--articles-box--*/
.articles-box {
    padding: 80px 0 200px;
    background: #A0C855;
}
.articles-box h3 {
    padding-left: 14.2%;
    text-align: left;
    color: #fff;
    font: 375% "PantonBold";
    text-transform: uppercase;
    margin-bottom: 75px;
}
.articles-item {
    width: 85%;
    margin: auto;
    margin-bottom: 1px;
    color: #8a8a8a;
}
.articles-item h2 {
    padding: 30px 43px 30px 55px;
    margin: 0;
    background: #fff;
    font-size: 187.5%;
    font: 187.5% Panton;
    text-align: left;
}
.articles-item h2 .article-link {
    padding-right: 50px;
    display: block;
}
.articles-item h2 a {
    color: #8a8a8a;
    display: block;
}
.articles-item h2 span.icon-login {
    color: #A4C564;
    font-size: 150%;
    line-height: .7;
    float: right;
}
.articles-item h2 a:hover {
    color: #A0C855;
}
.articles-item .article-text {
    background: #F8F8F8;
    padding: 35px 55px 55px;
    font-size: 113%;
    line-height: 1.2;
}
.articles-item .article-text a {
    text-decoration: underline !important;
    transition: all 0s linear;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -ms-transition: all 0s linear;
    -o-transition: all 0s linear;
}
.articles-item .article-text a:hover {
    color: #A0C855;
}
/*--footer--*/
.footer {
    background: #fff;
    padding-bottom: 40px;
}
.footer
ul.footer-nav {
    text-align: center;
    padding: 30px 0 20px;
}
ul.footer-nav li {
    display: inline-block;
    padding: 0 60px;
    padding: 0 60px;
}
ul.footer-nav li a {
    display: block;
    font-size: 113%;
    color: #717272;
    padding: 7px 0;
    border-bottom: 4px solid transparent;
}
ul.footer-nav li.active a,
ul.footer-nav li a:hover {
    border-bottom: 4px solid #03a9f4;
}
.footer ul.social {
    padding-top: 10px;
    width: 100%;
    text-align: center;
}
.footer ul.social li {
    display: inline-block;
    margin: 0 28px;
}
.footer ul.social li a {
    display: block;
    width: 32px;
    height: 32px;
    color: #03A9F4;
    background: url(../img/social-sprite.png) 0 0 no-repeat;
    transition: transform .2s linear;
    -webkit-transition: transform .2s linear;
    -moz-transition: transform .2s linear;
    -ms-transition: transform .2s linear;
    -ms-transition: transform .2s linear;
}
.footer ul.social li a:hover {
    transform: scale(1.2);
}
.footer ul.social .fb {background-position: -32px 0;}
.footer ul.social .inst {background-position: -64px 0;}
.footer ul.social .tw {background-position: -96px 0;}
.footer .copyright {
    padding-top: 25px;
    color: #818181;
    text-align: center;
    font: 100% "Panton";
}
/*--experts-page--*/
.experts-page {
    background: #EAEAEA;
    border-bottom: 1px solid #ccc;
}
/*--breadcrumb-box--*/
.breadcrumb-box {
    padding-top: 110px;
}
.breadcrumb {
    margin: 0 100px;
    padding-bottom: 15px;
    border-bottom: 1px solid #C6C6C6;
}
.breadcrumb li {
    display: inline-block;
    font-size: 162.5%;
    color: #757575;
}
.breadcrumb ul li a {
    display: inline-block;
    padding: 2px;
    color: #757575;
}
.breadcrumb ul li a:hover {
    text-decoration: underline !important;
}
.breadcrumb li + li:before {
    content: '>';
    margin: 0 10px 0 5px;
}
/*--online-trener--*/
.online-trener {
    padding: 34px 0 60px;
}
.online-trener .container:after {
    content: '';
    display: block;
    clear: both;
}
.trener-article {
    float: left;
    width: 50.625%;
    margin-left: 7.96%;
}
.treners-photo {
    text-align: center;
    position: relative;
}
.treners-photo img {
    max-width: 100%;
    box-shadow: 0 0 15px 2px #888;
}
.main-photo-dscr {
    position: absolute;
    right: 3%;
    bottom: 10%;
    padding: 0 2% 1%;
    background: #F3C344;
    color: #fff;
    font: 300% "PantonBold";
}
.main-photo-dscr span {
    position: absolute;
    font: 45.83% "Panton";
    padding: 5px 20px;
    padding: 2% 7%;
    top: -30px;
    right: 0;
    background: #909090;
}
.online-trener article {
    color: #757575;
    font: 113% "Panton";
}
.online-trener article h1 {
    font: 150% "Panton";
    text-align: left;
    margin: 21px 0 42px;
}
.online-trener article p {
    padding: 12px 0;
    text-align: justify;
}
/*--subscribe-box--*/
.experts-page .subscribe-box {

}
.experts-page .subscribe-box form {
    width: 84%;
    margin: auto;
    background: #fff;
    box-sizing: border-box;
/*    padding: 44px 69px;*/
    padding: 44px 5.39%;
}
.experts-page .subscribe-box form input {
/*    width: 278px;*/
    width: 29.67%;
    box-sizing: border-box;
/*    padding: 21px 25px 21px 73px;*/
    padding: 21px 3% 21px 7.8%;
    font: 113% "Panton";
    color: #868686;
    height: 68px;
    margin: 10px 0;
    border: 1px solid #C4C4C4;
    transition: width .1s linear, box-shadow .1s linear;
    -webkit-transition: width .1s linear, box-shadow .1s linear;
    -moz-transition: width .1s linear, box-shadow .1s linear;
    -ms-transition: width .1s linear, box-shadow .1s linear;
    -o-transition: width .1s linear, box-shadow .1s linear;
}
.experts-page .subscribe-box form input:focus {
    width: 35%;
    border: 1px solid #F3C344;
    box-shadow: 0 0 5px 3px #F3C344;
    margin-right: 1px;
    position: relative;
    z-index: 5;
}
.experts-page .subscribe-box form input.email {
    background: url(../img/subscribe-email.png) 10% center no-repeat;
}
.experts-page .subscribe-box form input.tel {
    margin-left: -5px;
    background: url(../img/subscribe-tel.png) 10% center no-repeat;
}
.experts-page .subscribe-box form input.name {
    float: right;
    background: url(../img/subscribe-name.png) 10% center no-repeat;
}
.experts-page .subscribe-box form button {
    display: block;
    background: #F3C344;
    margin: 30px auto 10px;
/*    padding: 20px 35px;*/
    padding: 20px 3.73%;
    border: 0;
    color: #fff;
    font: 150% "Panton";
    transition: border-radius .1s linear, background .1s linear;
    -webkit-transition: border-radius .1s linear, background .1s linear;
    -moz-transition: border-radius .1s linear, background .1s linear;
    -ms-transition: border-radius .1s linear, background .1s linear;
    -o-transition: border-radius .1s linear, background .1s linear;
}
.trener-webinar {
    float: right;
/*    width: 28.75%;*/
    width: 34.06%;
/*    margin-right: 10.23%;*/
}
.trener-webinar-item .video-img-wrap {
    max-height: 275px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 20px 3px #aaa;
}
.trener-webinar-item h3 {
    color: #868686;
    font: 187.5% "Panton";
    margin: 0 0 20px 0;
}
.trener-webinar-item {
    opacity: .6;
    transition: opacity .1s linear;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    margin-bottom: 35px;
}
.trener-webinar-item a.play-button {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: url(../img/webinar-btn.png) center center no-repeat;
    transition: transform .1s linear;
    -webkit-transition: transform .1s linear;
    -moz-transition: transform .1s linear;
    -ms-transition: transform .1s linear;
    -o-transition: transform .1s linear;
}
.trener-webinar-item a.play-button:hover {
    transform: scale(1.1);
}
.trener-webinar-item:hover {
    opacity: 1;
}
/*--news-page--*/
.news-box {
    text-align: center;
    padding-bottom: 15px;
}
.news-wrap {
    width: 89.53%;
    margin: auto;
}
.news-wrap:after {
    content: '';
    display: block;
    clear: both;
}
.news-item {
/*    width: 363px;*/
    width: 31.7%;
    height: 490px;
    margin: 63px 0.78% 10px;
    padding: 57px 1.34% 26px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    float: left;
}
#vk_groups {
    margin: auto;
}
.news-box .caption {
    position: absolute;
    top: -6%; left: 10px;
/*    width: 213px;*/
    width: 58.68%;
    min-width: 120px;
    padding: 10px;
    font: 162.5% "PantonBold";
    color: #fff;
    background: #CECECE;
    z-index: 5;
}
.feedback {
    padding: 10px 0;
}
.feedback .form-wrap {
    background: #fff;
    width: 1126px;
/*    width: 87.97%;*/
    width: 79.03%;
    padding: 45px 4.47%;
    margin: 0 auto 25px;
}
.feedback .form-wrap:after {
    content: '';
    display: block;
    clear: both;
}
.feedback form.num-2 {
    float: left;
/*    width: 312px;*/
    width: 31.7%;
}
form.num-2 h4 {
    color: #a3a3a3;
    font: 225% "Panton";
    margin: 0 0 35px;
}
form.num-2 input,
form.num-2 textarea {
    width: 100%;
    background: #F8F8F8;
    border: 1px solid #D0D0D0;
    margin: -1px 0 0;
/*    padding: 20px 15px 20px 75px;*/
    padding: 20px 4.76% 20px 23.8%;
    box-sizing: border-box;
    font: 113% "Panton";
    color: #a3a3a3;
    transition: background .1s linear, box-shadow .1s linear;
    -webkit-transition: background .1s linear, box-shadow .1s linear;
    -moz-transition: background .1s linear, box-shadow .1s linear;
    -ms-transition: background .1s linear, box-shadow .1s linear;
    -o-transition: background .1s linear, box-shadow .1s linear;
}
form.num-2 input:focus,
form.num-2 textarea:focus {
    background: #fff;
    position: relative;
    z-index: 5;
    border: 1px solid #F3C344;
    box-shadow: 0 0 5px 3px #F3C344;
}
form.num-2 input.name {
    background: #F8F8F8 url(../img/subscribe-name.png) 9.5% center no-repeat;
}
form.num-2 input.email {
    background: #F8F8F8 url(../img/subscribe-email.png) 9.5% center no-repeat;
}
form.num-2 input.name:focus {
    background: #fff url(../img/subscribe-name.png) 9.5% center no-repeat;
}
form.num-2 input.email:focus {
    background: #fff url(../img/subscribe-email.png) 9.5% center no-repeat;
}
form.num-2 textarea {
    height: 224px;
    padding-left: 8.6%;
}
form.num-2 button {
    width: 100%;
    margin: 40px 0 0;
    padding: 0;
    border: 0;
    background: #F1C93F;
    height: 63px;
    text-align: center;
    color: #fff;
    font: 150% "Panton";
}
.form-text {
    float: right;
/*    width: 635px;*/
    width: 64.47%;
    text-align: left;
}
.form-text h4 {
    border-bottom: 1px solid #EDEDED;
    margin: 0 0 20px;
    padding-bottom: 17px;
    text-align: left;
/*    font: 188% "Panton";*/
    font: 36px "PantonBold";
    color: #f3c344;
}
.form-text .dscr {
    color: #a3a3a3;
    font: 113% "Panton";
}
.form-text .dscr p {
    margin: 5px 0;
}
/*--ask-experts-trener-box--*/
.ask-experts-trener-box .container:after {
    content: '';
    display: block;
    clear: both;
}
.article-wrap {
/*    width: 718px;*/
    width: 56.1%;
    float: left;
    margin: 30px 2.9%;
    color: #656565;
}
.main-photo {
    text-align: center;
    position: relative;
}
.main-photo img {
    max-width: 100%;
    box-shadow: 0 0 15px 2px #888;
}
.article-wrap h3 {
    color: #606060;
/*    font: 60px "PantonBold";*/
    font: 335% "PantonBold";
    text-align: left;
}
.article-wrap article {
/*    padding: 0 33px 30px;*/
    padding: 0 4.6% 30px;
    font: 113% "Panton";
}
.article-wrap article p {
    padding: 5px 0;
}
.ask-form {
    background: #fff;
/*    padding: 40px 33px;*/
    padding: 40px 4.6%;
}
.ask-form:after {
    content: '';
    display: block;
    clear: both;
}
.ask-form form.num-2 {
    float: left;
/*    width: 312px;*/
    width: 48%;
}
.ask-form .form-text {
/*    width: 318px;*/
    width: 48.7%;
}
/*--last-faq--*/
.last-faq {
    float: right;
/*    width: 435px;*/
    width: 33.98%;
    margin: 30px 2.9% 30px 0;
}
.last-faq h3 {
    font: 250% "PantonBold";
    text-align: left;
    margin: -3px 0 40px;
    line-height: .9;
}
.last-faq h3 span {
    display: block;
    font-family: "Panton";
}
.last-faq .last-faq-item {
    margin: 11px 0;
    font: 125% "Panton";
    color: #706e6e;
}
.last-faq .question {
    padding: 50px 30px;
    background: #fff;
    position: relative;
}
.last-faq .question:after {
    position: absolute;
    right: 0;
    bottom: -70px;
    content: '';
    border: 40px solid transparent;
    border-top: 40px solid #fff;
    border-right: 0px solid transparent;
    z-index: 5;

}
.last-faq .answer {
    position: relative;
    top: -5px;
    width: 80%;
    padding: 12px 27px;
    background: #FFCA29;
    color: #fff;
}
/*--about-us-page--*/
.about-us-page .main-photo-dscr span {
    font: 100% "PantonBold";
    top: -62px;
}
.about-us-page .main-photo-dscr span.small-font {
    position: static;
    padding: 0;
    background: inherit;
    font: 66.7% "Panton";
}
.about-us-page .trener-webinar {
    margin: 30px 1% 30px 0;
}
.about-us-page .trener-webinar h2 {
    color: #706e6e;
    font: 250% "PantonBold";
    text-align: left;
    margin: -10px 0 20px;
}
.about-us-page .trener-webinar h2 span {
    font-family: "Panton";
}
/*--articles-item-box--*/
.articles-item-box {

}
.btn-and-search {
    margin: 20px 100px 15px;
}
.btn-and-search:after {
    content: '';
    display: block;
    clear: both;
}
.btn-and-search .left {
    float: left;
    position: relative;
    z-index: 5;
}
.btn-and-search .female,
.btn-and-search .male {
    border: 2px solid #F1C93F;
    border-radius: 4px;
    width: 228px;
    height: 61px;
    padding-left: 60px;
    color: #f1c93f;
    font: 150% "Panton";
    background: #fff url(../img/male-female-sprite.png) 25px 10px no-repeat;
    cursor: pointer;
}
.btn-and-search .female.active,
.btn-and-search .female:hover {
    background: #F1C93F url(../img/male-female-sprite.png) 25px 10px no-repeat;
    color: #fff;
}
.btn-and-search .male {
    margin-left: 20px;
    background-position: 25px -40px;
}
.btn-and-search .male.active,
.btn-and-search .male:hover {
    background: #F1C93F url(../img/male-female-sprite.png) 25px 10px no-repeat;
    background-position: 25px -40px;
    color: #fff;
}
.btn-and-search form.search {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 500px;
    margin-left: -480px;
}
.btn-and-search form.search input {
    display: block;
    width: 100%;
    height: 61px;
    border: 1px solid #F1C93F;
    border-radius: 4px;
    font: 150% "Panton";
    color: #797979;
/*    padding: 0 44px 0 3%; */ /*Без кнопки закрытия*/
    padding: 0 75px 0 3%;
    float: left;
}
.btn-and-search form.search button {
    width: 65px;
    height: 61px;
    float: left;
    margin-left: -65px;
    background: #FFCA2A url(../img/search-bg.png) center center no-repeat;
    border: none;
    border-radius: 0 2px 2px 0;
}
.btn-and-search form.search button:active {
    box-shadow: inset 0 0 10px 2px #e0ab0a;
}
/*--articles-item-wrap2--*/
.articles-item-wrap2 {
    padding-bottom: 70px;
}
.articles-item-wrap2:after {
    content: '';
    display: block;
    clear: both;
}
a.articles-item2 {
    display: block;
/*    width: 414px;*/
    width: 32.34%;
    height: 418px;
    color: #515151;
    float: left;
    box-sizing: border-box;
/*    margin: 19px 19px 0 0;*/
    margin: 19px 1.49% 0 0;
/*    padding: 28px;*/
    padding: 2.2%;
    background: #fff;
    font: 88% "Panton";
    transition: box-shadow .1s linear;
}
a.articles-item2:hover {
    box-shadow: 0 0 20px 1px #888;
}
a.articles-item2:nth-of-type(3n) {
    margin-right: 0;
}
a.articles-item2 span {
    display: block;
}
.articles-item2 .img-wrap {
    border: 1px solid #9C9C9C;
    height: 218px;
    overflow: hidden;
    margin-bottom: 25px;
}
.articles-item2 .article-caption {
    font-size: 164%;
    height: 35px;
    overflow: hidden;
}
.articles-item2 .article-dscr {
    height: 52px;
    margin-bottom: 8px;
    overflow: hidden;
}
.articles-item2 .bottom:after {
    content: '';
    display: block;
    clear: both;
}
.articles-item2 .category {
    float: left;
    padding-bottom: 3px;
    border-bottom: 1px solid #FFCA2A;
}
.articles-item2 .view,
.articles-item2 .like {
    float: right;
    padding-left: 20px;
    background: transparent url(../img/article-sprite.png) 0 3px no-repeat;
}
.articles-item2 .like {
    margin-left: 20px;
    background-position: 0 -15px;
}
/*--registration--*/
.registry-wrap {
/*    width: 718px;*/
    width: 56%;
    box-sizing: border-box;
    margin: 30px auto 70px;
/*    padding: 35px 30px;*/
    padding: 35px 2.3%;
    background: #fff;
    color: #a3a3a3;
    font: 113% "Panton";
}
.registry-wrap h3 {
    padding: 15px 0 30px;
    color: #a3a3a3;
/*    font: 36px "Panton";*/
    font: 200% "Panton";
}
.registry-wrap input.orange {
    width: 62.67%;
/*    padding: 0 20px 0 75px;*/
    padding: 0 20px 0 11.4%;
    font-size: 100%;
    background: transparent url(../img/registry-wrap.png) 7% 0 no-repeat;
}
.registry-wrap input.name {
    background-position: 7% 21px;
}
.registry-wrap input.mail {
    background-position: 7% -49px;
}
.registry-wrap input.phone {
    background-position: 7% -119px;
}
.registry-wrap input.login {
    background-position: 7% -189px;
}
.registry-wrap input.pass {
    background-position: 7% -259px;
}
.registry-wrap button {
    width: 317px;
    height: 63px;
/*    font: 24px "Panton";*/
    font: 133% "Panton";
    color: #fff;
    text-transform: uppercase;
    background: #FFCA2A;
    border: 0;
    display: block;
    margin: 20px auto;
}
.registry-wrap button:hover {
    background: #FFCA2A;
}
.registry-wrap button:active {

}
.registry-wrap p {
    padding: 5px 0;
}
.registry-wrap .caption {
    color: #f3c344;
/*    font: 36px "PantonBold";*/
    padding: 10px 0 15px;
    font: 200% "PantonBold";
}
.authorization-box .registry-wrap a {
    float: right;
/*    margin-right: 122px;*/
    margin-right: 18.8%;
    color: inherit;
    text-decoration: underline !important;
}
.authorization-box .registry-wrap button {
    margin-bottom: 40px;
}
.authorization-box .registry-wrap input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 18.8%;
    vertical-align: middle;
    background: #fff;
}
.authorization-box .registry-wrap input[type=checkbox]:checked {
    background: url(../img/gal.png) center no-repeat !important;
}
.authorization-box .registry-wrap label {

}
